In [1]:
# Imports
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.cluster import KMeans
df=pd.read_csv('C:\\dataaa\\Mumbai House Prices new.csv')
df['PricePerSqFt in L'] = df['PRICE in L'] / df['area']
df['area_x_PricePerSqFt'] = df['area'] * df['PricePerSqFt in L']


# If you created new features like area_PricePerSqFt, ensure they are included
df['area_PricePerSqFt'] = df['area'] * df['PricePerSqFt in L']
# # Group by locality and calculate the average price
locality_avg_price = df.groupby('locality')['PRICE in L'].mean().reset_index()

# # Apply KMeans clustering to localities based on price with a fixed random state
kmeans = KMeans(n_clusters=5, random_state=42)  # Setting a random state for consistency
locality_avg_price['locality_cluster'] = kmeans.fit_predict(locality_avg_price[['PRICE in L']])

# Map clusters back to the original dataframe
df = df.merge(locality_avg_price[['locality', 'locality_cluster']], on='locality', how='left')
df

,bhk,type,locality,area,price,price_unit,region,status,age,PRICE in L,PricePerSqFt in L,area_x_PricePerSqFt,area_PricePerSqFt,locality_cluster
0,3,Apartment,Lak And Hanware The Residency Tower,685,2.50,Cr,Andheri West,Ready to move,New,250.00,0.364964,250.00,250.00,0
1,2,Apartment,Radheya Sai Enclave Building No 2,640,52.51,L,Naigaon East,Under Construction,New,52.51,0.082047,52.51,52.51,0
2,2,Apartment,Romell Serene,610,1.73,Cr,Borivali West,Under Construction,New,173.00,0.283607,173.00,173.00,2
3,2,Apartment,Soundlines Codename Urban Rainforest,876,59.98,L,Panvel,Under Construction,New,59.98,0.068470,59.98,59.98,0
4,2,Apartment,Origin Oriana,659,94.11,L,Mira Road East,Under Construction,New,94.11,0.142807,94.11,94.11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76033,3,Apartment,Parinee Liva Roca,1527,7.00,Cr,Juhu,Ready to move,Unknown,700.00,0.458415,700.00,700.00,1
76034,5,Apartment,Parinee Liva Roca,3049,12.00,Cr,Juhu,Ready to move,Unknown,1200.00,0.393572,1200.00,1200.00,1
76035,4,Apartment,Lodha Seaview,3313,10.00,Cr,Napeansea Road,Ready to move,Unknown,1000.00,0.301841,1000.00,1000.00,4
76036,2,Apartment,Hubtown Serene,1305,4.25,Cr,Bandra East,Ready to move,Unknown,425.00,0.325670,425.00,425.00,2
76037,5,Apartment,Sunteck Signature Island,5200,25.00,Cr,Bandra Kurla Complex,Ready to move,Unknown,2500.00,0.480769,2500.00,2500.00,3

In [2]:
# X includes the features you are using, including engineered ones
X = df[['area', 'locality_cluster', 'PricePerSqFt in L', 'area_PricePerSqFt']]

y = df['PRICE in L']  # Update with your target column
# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
# If you've already tuned the hyperparameters, use the best found parameters
rf_best = RandomForestRegressor(n_estimators=500, max_depth=30, min_samples_split=2, random_state=42)

# Fit the model to the training data
rf_best.fit(X_train, y_train)

In [ ]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Make predictions on the test set
y_pred_test = rf_best.predict(X_test)

# Evaluate model performance
mae_test = mean_absolute_error(y_test, y_pred_test)
rmse_test = np.sqrt(mean_squared_error(y_test, y_pred_test))
r2_test = r2_score(y_test, y_pred_test)
    
print(f"Test MAE: {mae_test}")
print(f"Test RMSE: {rmse_test}")
print(f"Test RÂ² Score: {r2_test}")

In [ ]:
import matplotlib.pyplot as plt

# Plot feature importance
importances = rf_best.feature_importances_
feature_names = X.columns

plt.figure(figsize=(10, 6))
plt.barh(feature_names, importances)
plt.xlabel("Feature Importance")
plt.ylabel("Feature")
plt.title("Feature Importance from Random Forest")
plt.show()

In [ ]:
import shap

# Initialize SHAP explainer
explainer = shap.TreeExplainer(rf_best)
shap_values = explainer.shap_values(X_test)

# Summary plot for feature importance
shap.summary_plot(shap_values, X_test)
# Dependence plot for one feature
# shap.dependence_plot('PricePerSqFt in L', shap_values, X_test)